{% extends 'admin/index.html.twig' %}

{% block title %}Patient index{% endblock %}
{% block h1 %}<h1>Patient index</h1>{% endblock %}
{% block right %}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Snils</th>
            <th>InsuranceNumber</th>
            <th>DateBirth</th>
            <th>DateStartOfTreatment</th>
            <th>Address</th>
            <th>SmsInforming</th>
            <th>EmailInforming</th>
            <th>ImportantComment</th>
            <th>ConcomitantDisease</th>
            <th>Passport</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Phone</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>PatronymicName</th>
            <th>Description</th>
            <th>Enabled</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.snils }}</td>
                <td>{{ patient.insuranceNumber }}</td>
                <td>{{ patient.dateBirth ? patient.dateBirth|date('Y-m-d') : '' }}</td>
                <td>{{ patient.dateStartOfTreatment ? patient.dateStartOfTreatment|date('Y-m-d') : '' }}</td>
                <td>{{ patient.address }}</td>
                <td>{{ patient.smsInforming ? 'Yes' : 'No' }}</td>
                <td>{{ patient.emailInforming ? 'Yes' : 'No' }}</td>
                <td>{{ patient.importantComment }}</td>
                <td>{{ patient.concomitantDisease }}</td>
                <td>{{ patient.passport }}</td>
                <td>{{ patient.authUser.email }}</td>
                <td>{{ patient.authUser.roles ? patient.authUser.roles|json_encode : '' }}</td>
                <td>{{ patient.authUser.phone }}</td>
                <td>{{ patient.authUser.firstName }}</td>
                <td>{{ patient.authUser.lastName }}</td>
                <td>{{ patient.authUser.patronymicName }}</td>
                <td>{{ patient.authUser.description }}</td>
                <td>{{ patient.authUser.enabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>
                    <a href="{{ path('patient_testing_new', {'id': patient.id}) }}">Create patient testing</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('patient_new') }}">Create new</a>
{% endblock %}
