{% extends 'base.html.twig' %}

{% block title %}PatientTestingResult index{% endblock %}

{% block body %}
    <h1>PatientTestingResult index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Result</th>
                <th>Enabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient_testing_result in patient_testing_results %}
            <tr>
                <td>{{ patient_testing_result.id }}</td>
                <td>{{ patient_testing_result.result }}</td>
                <td>{{ patient_testing_result.enabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('patient_testing_result_show', {'id': patient_testing_result.id}) }}">show</a>
                    <a href="{{ path('patient_testing_result_edit', {'id': patient_testing_result.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('patient_testing_result_new') }}">Create new</a>#}
{% endblock %}
