{% extends 'admin/index.html.twig' %}

{% block title %}PreventionWay index{% endblock %}
{% block h1 %}<h1>PreventionWay index</h1>{% endblock %}
{% block right %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>MinTotalPoints</th>
                <th>Enabled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prevention_way in prevention_ways %}
            <tr>
                <td>{{ prevention_way.id }}</td>
                <td>{{ prevention_way.name }}</td>
                <td>{{ prevention_way.minTotalPoints }}</td>
                <td>{{ prevention_way.enabled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('prevention_way_show', {'id': prevention_way.id}) }}">show</a>
                    <a href="{{ path('prevention_way_edit', {'id': prevention_way.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prevention_way_new') }}">Create new</a>
{% endblock %}
